<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
   
   
    <title>Malaria Parasite Detector</title>

	<!-- <link rel="stylesheet" type="text/css" href="ss.css"> -->
	<style>
	form {
  text-align: center;
}



.fixed {
  height: 300px;
}

.clear {
  clear: both;
  border-top: solid 1px;
}
</style>

  </head>
  <body>
    <h1 align=center> Malaria Parasite Detector</h1>


  
<h3 align=center class="clear">Upload a image of infected red blood cells to proceed.</h3>

<br/>
  
        <form method="post" action="" enctype=multipart/form-data >
         
            <!-- <label for="inputFile" align=center>File</label> -->
            <input type="file" name="file">
			
         
		  <br/>
		  <br/>
          <button type="submit">Submit</button> <button type="reset">Reset</button>
        </form>



  </body>
</html>
